# Dependencies
node_modules
.pnpm-store

# Builds
dist
build
.turbo
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# IDE / OS
.idea
.vscode
*.swp
.DS_Store

# Logs / coverage
logs
*.log
coverage
.nyc_output

# Playwright
**/test-results
**/playwright-report
**/blob-report
**/playwright/.cache

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Misc
*.pem
.cache
